In [1]:
s = "iNeuron"
n = 4
for i in range(n):
    for j in range(i+1):
        print(s, end = " ")
    print("\n")

iNeuron

iNeuron iNeuron

iNeuron iNeuron iNeuron

iNeuron iNeuron iNeuron iNeuron

In [2]:
s="iNeuron"
n=3
k=2*n-2
for i in range(n) : 
    k = k-1
    print("  "*2*k,end = "")
    for j in range(0,i+1) : 
        print(s,end = " ")
    print("\n")
k=n-2
for i in range(k,-1,-1) :
    k=k+1
    print("  "*2*k,end = "")
    for j in range(0,i+1) :
        print(s,end = " ")
    print("\n")

            iNeuron

        iNeuron iNeuron

    iNeuron iNeuron iNeuron

        iNeuron iNeuron

            iNeuron

In [3]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
    ["ineuron","data science"]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

q3 : Try to extract all the list entities

In [5]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4 : Try to extract dict entities

In [6]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [7]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all numeric values it may be part of dict key and values

In [8]:
for i in l:
    if type(i) != dict:
        for j in i:
            if type(j) == int:
                print(j)
    else :
        for k,h in i.items():  
            if type(k) == int or type(h) == int :
                print(k)
                print(h)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

q7 : Try to give summation of all numeric data

In [9]:
l1 = []
for i in l:
    if type(i) != dict:
        for j in i:
            if type(j) == int:
               # print(j)
                l1.append(j)
    else :
        for k,h in i.items():  
            if type(k) == int or type(h) == int :
               # print(k)
               # print(h)
                l1.append(k)
                l1.append(h)
sum(l1)

156

q8 : Try to filter out the odd values out of all numeric data

In [10]:
l2 = []
for i in l1:
    if i%2 == 1:
        #print(i)
        l2.append(i)
l2

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

q9 : Try to extract ineuron out of this data

In [11]:
for i in l:
    if type(i) != dict:
        for j in i:
            if j == "ineuron":
                print(j)                
    else :
        for k,h in i.items():  
            if h == "ineuron" :
                print(h)

ineuron
ineuron

q10 : Try to find out the no of occurences of all the data

In [12]:
l3 = []
for i in l:
    if type(i) != dict:
        for j in i:
            #print(j)
            l3.append(j)
    else :
        for k,h in i.items():  
            #print(k)
            #print(h)
            l3.append(k)
            l3.append(h)
#print(l3)
for i in set(l3):
    print(i,":",l3.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
k3 : 1
8 : 1
kumar : 1
45 : 1
data science : 1
k2 : 1
23 : 1
ineuron : 2

q11 : try to find out no keys in dict elements

In [13]:
for i in l:
    if type(i) == dict:
        for j in i:
            print(j)

k1
k2
k3
3
7

q12 : Try to filter out all the string data

In [14]:
for i in l:
    if type(i) != dict:
        for j in i:
            if type(j) == str:
                print(j)
    else :
        for k,h in i.items():  
            if type(k) == str or type(h) == str :
                print(k)
                print(h)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to find out alphanum in data

In [15]:
for i in l:
    if type(i) != dict:
        for j in i:
            if str(j).isalnum() == True:
                print(j)                
    else:
        for k,h in i.items():  
            if str(k).isalnum() == True or str(h).isalnum() == True:
                print(k)
                print(h)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
sudh
k2
ineuron
k3
kumar
3
6
7
8
ineuron

q14 : Try to find out multiplication of all numeric values in the individual collection inside dataset

In [19]:
def multiply(no):  
    p = 1
    for x in no:
        p = p*x  
    return p  

l7 = []
s = 1
for i in l:
    if type(i) != dict:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    #print("[",multiply(i),"]")
                    s = multiply(i)
                    if s not in l7:
                        l7.append(s)
        if type(i) == tuple:
            #print(i,": (",multiply(i),")")
            s = multiply(i)
            l7.append(s)
        if type(i) == set:
            #print(i,": {",multiply(i),"}")
            s = multiply(i)
            l7.append(s)
l7

[24, 720, 2520, 20700]

q15: Try to unwrap all the collection inside collections and create a list

In [16]:
l4 = []
for i in l:
    if type(i) != dict:
        for j in i:
            l4.append(j)
    else :
        for k,h in i.items(): 
            l4.append(k)
            l4.append(h)
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']